@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #562C2C,
  $secondary: #0E9594,
  $surface: #f8ead5,
  $background: #f8ead5,
  $error: color-palette.$red-900
);

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
  max-height: 100vh;
  max-width: 100vw;
  padding: 0;
  margin: 0;
}

a {
  color: #F2542D;
}
a:visited {
  color: color.scale(#F2542D, $lightness: -35%);
}

.app {
  height: 100vh;
}
